h1{
    text-align: center;
    font-size: 2rem;
    color: #E1D7C6;
    background-color: #579BB1;
    padding: 1rem;
    font-weight: 400;
}
.todo_form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.addtodo{
width: 500px;
height: 50px;
border: 2px solid black;
border-radius: 5px;
padding: 0.5rem;
margin-right: 1rem;
background-color: #E1D7C6;

}
.adddate{
    width: 120px;
    height: 52px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 1rem;
    background-color: #E1D7C6;
}
.addtodoBtn{
    width: 100px;
    height: 52px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #579BB1;
    color: #E1D7C6;
    font-weight: bold;
    cursor: pointer;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    background-color: #E1D7C6;
}
li{
    width: 700px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
    background-color: #579BB1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}