
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.google.com/specimen/Fraunces:wght@700&display=swap');


h2{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 28px;
    color: #212227;
 
}
small{
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h1{
    color: #568676;
    font-family: 'Fraunces', serif;
    margin-right: 20px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #212227;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

body{
    height:100vh;
    background-color: rgb(243,235,228);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile{
    display: none;
}
.desktop{
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}
.product_card{

    width:550px;
    height:400px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(243,235,228);
    border-radius: 5px;
    background-color: white;

}

    /* width:200px;
    height:320px;
    background-image: url("RESOURCES/image-product-desktop.jpg"); */
.pricing{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: -30px;
    

}
.product_content{
    background-color: white;
    padding-left: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
.product_content>button{
    align-items: center;

    background-color: #43866d;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
   
}
.product_content>button:hover{
    background-color: #0a3e2d;
    cursor: pointer;
}

@media (max-width: 510px){
    .desktop{
        display: none;
    }
    .mobile{
        width: 375px;
        height: 550px;
        display:inline-block;
    }

    .product_card {
        width: 375px;
        height: 900px;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .product_content{
        padding-left: 20px;
        margin-bottom: 0px;

    }
    .product_content>button:hover{
        background-color: #0a3e2d;
        cursor: pointer;
    }
}