body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      height: 100vh;

      display: flex;
      align-items: center;
      justify-content: center;
}

.container{
      background-color: #000000;
      padding: 20px 50px;
      border-radius: 5px;
      color: #DC5F00;
}

form{
      display: flex;
      align-items: center;
      justify-content: space-between;
}

input{
      border-color: #DC5F00;
      padding: 5px 10px;
      border-radius: 5px;
      outline: #93C6E7;
}

button{
      padding: 7px 20px;
      outline: none;
      border: none;
      color: #DC5F00;
      font-weight: 600;
      background-color: #EEEEEE;
      border-radius: 5px;
      transition: .2s ease-in;
}
button:hover{
      cursor: pointer;
}
button:active{
      opacity: .7;
}

.todos{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      width: 100%;
}

.todo{
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background-color: #CF0A0A;
      padding: 5px 15px;
      border-radius: 5px;
      font-weight: 600;
      font-size: 1.2rem;
}


.todo span{
      color: #DC5F00;
}